root = true

[*]
indent_style = space

[*.{yml,xml,json,txt}]
indent_size = 2
trim_trailing_whitespace = true
charset = utf-8
end_of_line = lf

[*.{cs,csx,proto,ps1,sh}]
indent_size = 4
insert_final_newline = true
max_line_length = 120
trim_trailing_whitespace = true
charset = utf-8
end_of_line = lf

[*.md]
indent_size = 4
trim_trailing_whitespace = false
charset = utf-8
end_of_line = lf

[*.{csproj,props}]
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = true

[*.cs]
# https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/configuration-options
# https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/code-style-rule-options
# https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/

csharp_using_directive_placement = inside_namespace:warning

# Imports
dotnet_separate_import_directive_groups = false
dotnet_sort_system_directives_first = false

# Documentation
dotnet_analyzer_diagnostic.category-Documentation.severity = none

# Code
dotnet_diagnostic.CA1010.severity = none       # CollectionsShouldImplementGenericInterface
dotnet_diagnostic.CA1031.severity = none       # DoNotCatchGeneralExceptionTypes
dotnet_diagnostic.CA1040.severity = none       # AvoidEmptyInterfaces
dotnet_diagnostic.CA1056.severity = none       # UriPropertiesShouldNotBeStrings
dotnet_diagnostic.CA1062.severity = none       # ValidateArgumentsOfPublicMethods
dotnet_diagnostic.CA1303.severity = none       # DoNotPassLiteralsAsLocalizedParameters
dotnet_diagnostic.CA1305.severity = none       # SpecifyIFormatProvider; used mostly in cases when format provider means no difference
dotnet_diagnostic.CA1307.severity = none       # SpecifyStringComparison; used mostly in cases when string comparison means no difference
dotnet_diagnostic.CA1714.severity = none       # FlagsEnumsShouldHavePluralNames
dotnet_diagnostic.CA1819.severity = none       # PropertiesShouldNotReturnArrays
dotnet_diagnostic.CA1822.severity = suggestion # Mark members as static
dotnet_diagnostic.CA2225.severity = none       # OperatorOverloadsHaveNamedAlternates

# Style - Documentation
dotnet_diagnostic.CS1573.severity = none       # Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none       # no matching param tag in the XML comment
