name: 'Test'

permissions:
  actions: read
  contents: write
  checks: write
  pull-requests: write

on:
  push:
    paths-ignore: ['**.md', '**.sh', '.editorconfig', '.gitignore', '.gitattributes']
  pull_request:
    paths-ignore: ['**.md', '**.sh', '.editorconfig', '.gitignore', '.gitattributes']
  workflow_dispatch:

jobs:
  test:
    name: 'Test'
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.306

      - name: Cache NuGet packages
        uses: actions/cache@v4
        with:
          path: /home/runner/.nuget/packages
          key: packages-${{ runner.os }}-${{ hashFiles('**/packages.lock.json') }}
          restore-keys: packages-${{ runner.os }}-

      - name: Execute tests
        run: dotnet test -c Release --results-directory ./artifacts/trx --logger trx -v minimal --nologo

      - name: Publish test results
        uses: EnricoMi/publish-unit-test-result-action/composite@v2
        if: always()
        with:
          files: ./artifacts/trx/**/*.trx